@font-face {
    font-family: 'Montserrat-Italic';
    src: url('./font/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat-Variable';
    src: url('./font/Montserrat-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Rubik-Italic';
    src: url('./font/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Rubik-Regular';
    src: url('./font/Rubik-VariableFont_wght.ttf') format('truetype');
  }