@import '../src/css/fonts.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik-Regular';
  font-size: 16px; 
  line-height: 1.1;
  color: #000; 
  overflow-x: hidden;
}

